<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />  -->
    <title>Sample</title>
</head>
<body>

    <div id="app"></div>

</body>
</html>
